<% include partials/header.ejs %>
<title>Cedar - All Users</title> 
</head>
<body>
<h1>All Cedar Users</h1>
<% if(Users.length == 0){ %>
    <div class="alert alert-danger" role="alert">
            <p>No Users Yet!</p>  
            <a href="/" class="btn btn-outline-secondary">Click here for new membership</a>
            </div>
<% }
else{ %>

<table class="table table-dark table-striped table-bordered table-hover">
        <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Last Contribution</th>
                    <th scope="col">Date</th>
                    <th scope="col">Loan Status</th>
                    <th scope="col">Action</th>

                    </tr>
            </thead>
            <tbody>
               <% Users.forEach(function(user){ %>
                <tr>        
                <td><%= user.name %></td>  
                <td><%= user.phone %></td>
                <td><%= user.email %></td>      
                <td><span class="naira">N</span> <%= user.balance %></td>
               <% if(user.payments.length == 0){ %>
                    <td>No Contributions Yet</td>
                    <td>No Contributions Yet</td>
                  <%   } else{
                        let indx = user.payments.length - 1
                %>
                
                <td><span class="naira">N</span> <%= user.payments[indx].amount %></td>
                <td><%= user.payments[indx].date %></td>
                   <% } %>
                
                <td>Nil</td>
                <td><a class="btn btn-outline-secondary" href="/profile/<%=user._id%>">View USer's profile</a></td>
            </tr>
           <%  }) %>
            </tbody>
            </table>
                
<% } %>
<% include partials/footer.ejs %>