<% include partials/header.ejs %>
<title>Cedar - <%= User.name %></title> 
</head>
<body>
<h3 class="lead">Welcome <%= `${User.firstName} ${User.lastName}` %></h3>
<small class="text-muted"><%= User.category %></small>
<section>
    
            <p>Your balance <span class="badge badge-info"><span class="naira">N</span> <%= User.balance %></span></p>
            
        
        <% if(User.payments.length>0){ %>
            <table class="table table-dark table-striped table-bordered table-hover">
            <thead class="thead-dark">
                    <tr>
                        <th scope="col">Amount You Contributed</th>
                        <th scope="col">Date Contributed</th>
                        </tr>
                </thead>
                <tbody>
            <% User.payments.forEach(function(payment){ %>
                
                <tr>
                    <td><span class="naira">N</span> <%= payment.amount %></td>
                    <td><%= payment.date %></td>
                </tr> <% }) %>
            </tbody>
        </table>
            
       <% } else{ %>
            <div class="alert alert-danger" role="alert">
            <p>No contribution made yet! Please Click "Pay" to Contribute</p>  
            </div> 
        <% } %>
    
</section id="paySection">
<form action="/pay/<%= User._id%>" method="POST">
    
<label for="amount">Payment Amount</label>
    <input class="form-control" placeholder="Amount" type="number" name="payments[amount]" id="amount" required>
<label for="date">Payment Date</label>
<input class="form-control" type="date" name="payments[date]" id="date" required>
<input class="form-control btn btn-outline-success" type="submit" value="Pay">
</form>